:root {
--primary-font:"Roboto", sans-serif;
--secondary-font:"Raleway", sans-serif;
--primary-background-color: #ffffff;
--secondary-background-color: #4d5ae5;
--primary-text-color: #434455;
--secondary-text-color: #2e2f42;
--primary-button-color: #4d5ae5;
--primary-button-background-color: #f4f4fd;  
}

body {
   font-family: var(--primary-font);
   background-color: var(--primary-background-color);
   color: var(--primary-text-color);
  }

  .list {
   list-style: none;
  }

  .link {
   text-decoration: none;
  }

  .logo {
   font-family: var(--secondary-font);
   color: #4D5AE5;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;  
  }


  .logo-style {
    color: #2e2f42;
  }

  .navi-list {
   color: var(--secondary-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
  }

  .navi-list:hover, .navi-list:focus {
   color: #404BBF; 
  }

  .contacts {
    font-style: normal;
  }
  .contacts-search {
   font-style: normal; 
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
  }

  .contacts-search:hover
  .contacts:focus {
   color: #404bbf;
  }

  .section-main {
    background: #2e2f42;
  }
  

  .dark-theme {
    color: #FFFFFF;
  }

  .main-title {
    font-weight: 700;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
   }

  .button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: var(--secondary-background-color);
   }

 .button:hover,
 .button:focus {
   background-color: #404bbf;
   color: #ffffff;
   cursor: pointer;
  }
  
  .subtitle-features {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;    
    color: #2E2F42;
   }
   
  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
   }
   
  .image-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--secondary-text-color);
   }


  .team-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--secondary-text-color); 
   }

   .team-list {
    background-color: #F4F4FD;
  }

  .employee-name {
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: var(--secondary-text-color);
   }

  .employee-position {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.02em;   
   color: var(--primary-text-color);
   }

  .footer {
    background: #2e2f42;
  }
  
  .logo {
    font-family: var(--secondary-font);
    color: #4D5AE5;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  
   }
 
  .style-logo {
    color: #F4F4FD; 
   }
  
  .conclusion {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
  }
